:root {
  --first-colour: #4070f4;
  --second-colour: #0e2431;
}

/* Font */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --extra-large-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

html {
  height: 100vh;
}

@media screen and(min-width:768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1em;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 1010;
}

/* Base */
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: (var(--second-colour));
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Section titles */

.section-title-project {
  position: relative;
  font-size: 1.5rem;
  color: var(--first-colour);
  margin-top: 1rem;
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title-project::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-colour);
}

/* First section- photo */

.short-info-container {
  text-align: center;
  width: 279px;

  justify-content: center;

  margin-bottom: var(--mb-2);
}

.project-section-picture {
  justify-content: center;
}

.project-section-picture > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
}

.project-section-picture > p {
  text-align: center;
  margin-bottom: var(--mb-1);
}

.tech-line {
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: -20px;
  border-top: 1px solid lightgray;
  width: 20rem;
  margin-bottom: var(--mb-1);
}

.tech-stack {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-3);
}
/* Summary Section */

.summary {
  display: flex;
  /* margin-bottom: var(--mb-2); */
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  justify-content: center;
  padding-bottom: var(--mb-2);
}
.summary-content-container {
  width: 279px;
}

/* Tech Section */

/* Features */
.features-container {
  margin-bottom: var(--mb-4);
  /* justify-content: center;
  align-items: center; */
}

.features-container > ul {
  list-style: circle;
}

.gif-picture {
  margin-bottom: var(--mb-4);
  height: 12.2rem;
}

/* Challenge Area */

.project-section-challenge {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 35rem;
}
.project-section-challenge-short {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 28rem;
}
.project-section-challenge-long {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 45rem;
}

.challenges-container {
  width: 135%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
}
.nav__toggle {
  margin-right: var(--mb-2);
  /* margin-left: -680px; */
}

/* Ramen Empire */
.features-ramen {
  margin-bottom: var(--mb-2);
  align-content: center;
  justify-content: center;
}

.features-ramen-container > ul {
  list-style: circle;
}

/* Ipad */

@media screen and (min-width: 768px) {
  .project-section-picture {
    width: 120%;
    margin-top: 0;
    margin-left: 20px;
    display: grid;

    grid-template-areas: "details projectpic";
  }

  .project-picture {
    grid-area: projectpic;
    height: 300px;
    margin-bottom: 10rem;
  }

  .project__img {
    height: 400px;
    width: 550px;
    /* margin-bottom: 10rem; */
  }

  .project-info {
    grid-area: details;
    width: 23rem;
    padding: 1rem;
  }
  .nav__toggle {
    margin-right: var(--mb-2);
    /* margin-left: -680px; */
  }

  .section-title-project {
    font-size: 2.5rem;
    margin-top: 7rem;
    margin-bottom: var(--mb-3);
    text-align: left;
  }

  .info-content {
    width: 20rem;
    text-align: left;
  }

  .section-title-project {
    width: 400px;
  }
  .short-info-container {
    line-height: 1rem;
  }

  .section-title-project::after {
    display: none;
  }
  .summary-content {
    align-items: center;
    /* width: 60rem; */
    /* margin-left: -5rem; */

    width: 40rem;
    margin: auto;
  }

  .summary {
    /* width: 135%; */
    justify-content: center;
    /* height: 20rem; */
  }

  .summary-content-container {
    margin-left: 3rem;
    width: 50rem;
  }

  .summary-title {
    margin: auto;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
  }
  /* 
  .summary-title {
    width: 38rem;
    margin-left: 5rem;
    padding-left: 3rem;
    margin-top: 2rem;
  } */

  /* Features */

  .project-section-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .features-container {
    justify-content: center;

    width: 385px;
    padding-left: 3rem;
  }
  .features-title {
    margin-top: 2rem;
    margin-left: -10px;
  }

  .gif-container {
    width: 407px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 3rem;
  }

  .gif-picture {
    /* margin-left: 20px; */
    width: 300px;
  }

  .challenges-title {
    margin: var(--mb-2) 0 var(--mb-2) 250px;
  }

  /* Tweeter */
  .tweeter-content {
    top: 0;
    height: 110px;
    padding-bottom: 3rem;
  }

  .features-ramen {
    margin-bottom: var(--mb-2);
    width: 640px;
    justify-content: center;
    margin-left: 120px;
  }
}

/* Ipad for projects */
