:root {
  --first-colour: #4070f4;
  --second-colour: #0e2431;
}

/* Font */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --extra-large-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

html {
  height: 100vh;
}

section {
  margin-top: var(--mb-2);
}

@media screen and(min-width:768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1em;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 1010;
}

/* Base */
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: (var(--second-colour));
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Section titles */

.section-title-project {
  position: relative;
  font-size: 1.5rem;
  color: var(--first-colour);
  margin-top: 1rem;
  margin-bottom: var(--mb-4);
  text-align: center;
}

.project__title {
  position: relative;
  font-size: 2rem;
  color: var(--first-colour);

  margin-bottom: var(--mb-4);
  text-align: center;
  width: 350px;
}

.features__heading {
  position: relative;
  font-size: 1.7rem;
  color: var(--first-colour);
  margin-top: 1rem;
  margin-bottom: var(--mb-4);
  text-align: center;
}

.features__heading::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-colour);
}

.section-title-project::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-colour);
}

/* First section- photo */

.short-info-container {
  text-align: center;
  width: 279px;

  justify-content: center;

  margin-bottom: var(--mb-2);
}

.project-section-picture {
  justify-content: center;
}

.project-section-picture > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 200px;
}

.project-section-picture > p {
  text-align: center;
  margin-bottom: var(--mb-1);
}

.tech-line {
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: -20px;
  border-top: 1px solid lightgray;
  width: 20rem;
  margin-bottom: var(--mb-1);
}

.tech-stack {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-3);
}
/* Summary Section */

.summary {
  display: flex;
  /* margin-bottom: var(--mb-2); */
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  justify-content: center;
  padding-bottom: var(--mb-2);
}
.summary-content-container {
  width: 279px;
}

/* Tech Section */

/* Features */
.features-content-container {
  align-items: center;
}
.features {
  text-align: start;
  list-style: circle;
  line-height: 1.5rem;
  padding-top: var(--mb-2);
}

.feature__list {
  list-style: circle;
}
.features-container > ul {
  list-style: circle;
}

.gif-picture {
  padding-bottom: var(--mb-2);
}

/* Challenge Area */

.project-section-challenge {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 35rem;
}
.project-section-challenge-short {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 28rem;
}
.project-section-challenge-long {
  background-color: #f6f7fb;
  width: 135%;
  margin-left: -49px;
  bottom: 0;

  height: 45rem;
}

.challenges-container {
  width: 135%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
}
.nav__toggle {
  margin-right: var(--mb-2);
  /* margin-left: -680px; */
}

/* Ramen Empire */
.features-ramen {
  margin-bottom: var(--mb-2);
  align-content: center;
  justify-content: center;
}

.features-ramen-container > ul {
  list-style: circle;
}

/* /* Ipad ///////////////////////////////////////////// */

@media screen and (min-width: 768px) {
  .project-section-picture {
    width: 120%;
    margin-top: 0;
    margin-left: 20px;
    display: grid;

    grid-template-areas: "details projectpic";
  }
  .project-section-picture {
    width: 120%;
    margin-top: 0;
    margin-left: 20px;
    display: grid;

    grid-template-areas: "details projectpic";
  }

  .project__title {
    margin-top: 6rem;
    font-size: 2.5rem;
    text-align: start;
  }

  .project-picture {
    grid-area: projectpic;
    height: 300px;
    margin-bottom: 10rem;
  }

  .project-info {
    grid-area: details;
    width: 23rem;
    padding: 1rem;
  }

  .project__img {
    height: 400px;
    width: 550px;
    /* margin-bottom: 10rem; */
  }

  /* Feature */

  .nav__toggle {
    margin-right: var(--mb-2);
    /* margin-left: -680px; */
  }

  .features__info {
    padding-left: 0;
  }

  .section-title-project {
    font-size: 2.5rem;
    margin-top: 7rem;
    margin-bottom: var(--mb-3);
    text-align: center;
    padding-left: 2rem;
  }

  .section-title-project::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-colour);
  }
  .info-content {
    text-align: left;
    margin-right: 0;
  }

  .description {
    text-align: start;
    width: 380px;
  }
  .tech-line {
    margin-left: 0;
    width: 23.5rem;
  }
  .summary-content {
    align-items: center;
    justify-content: center;
    /* width: 60rem; */
    /* margin-left: -5rem; */

    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section-title-project {
    width: 400px;
  }
  .short-info-container {
    line-height: 1rem;
  }

  .section-title-project::after {
    margin-top: var(--mb-1);
  }
  .features__heading::after {
    margin-top: var(--mb-1);
  }

  .summary {
    /* width: 135%; */
    justify-content: center;
    /* height: 20rem; */
  }

  .summary-content-container {
    margin: auto;
    width: 100%;
  }

  .summary-title {
    margin: auto;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-2);
  }

  /* Features */

  .project-section-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .features__heading {
    font-size: 2rem;
    margin-left: 6rem;
  }
  .project-name {
    margin-left: -2rem;
    text-align: start;
  }

  .gif__image {
    width: 300px;
    height: 200px;
    padding-left: 4rem;
    padding-top: var(--mb-2);
  }

  .challenges-title {
    margin: var(--mb-2) 0 var(--mb-2) 250px;
  }

  /* Tweeter */
  .tweeter-content {
    top: 0;
    height: 110px;
    padding-bottom: 3rem;
  }

  .features-ramen {
    margin-bottom: var(--mb-2);
    width: 640px;
    justify-content: center;
    margin-left: 120px;
  }

  .ramen-title {
    margin: 0;
    margin-left: 180px;
  }

  .sub-headings {
    font-size: 2rem;
    padding-left: 0;
  }

  .feature-section {
    margin-left: 3rem;
  }
  /* .challenges-title {
    =margin-left: 2rem;
  } */
  .short-info-container {
    width: 300px;
  }
}

/* Iphone X horizontal////////////////////////////// */

@media screen and (min-width: 811px) {
  nav {
    padding-right: var(--mb-2);
  }

  .gif__container {
  }
  .gif__image {
    padding-top: 1.5rem;
    padding-left: 6rem;
  }

  .features__section {
    margin-left: -0.2rem;
  }

  .project__title {
    text-align: start;
  }
}

/* Ipad Horizontal */
@media screen and (min-width: 1024px) {
  nav {
    padding-right: var(--mb-6);
  }

  .features-ramen {
    margin-left: 160px;
    margin-top: var(--mb-2);
  }
  .project-section {
    width: 115vw;
  }

  .features-container {
    padding-left: 4rem;
    padding-right: 5rem;
  }

  .gif-picture {
    height: 100%;
    width: 90%;
    margin-left: 20px;
  }

  .sub-headings {
    font-size: 2rem;
  }

  .features-content-container {
    margin-left: 5rem;
    width: 90%;
  }

  .features-content {
    display: flex;
    justify-content: center;
  }
  .challenges-title {
    margin-left: 25rem;
  }

  .gif-img {
    width: 400px;
  }

  .features__heading {
    margin-left: 9rem;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .features__heading::after {
    margin-top: 0.5rem;
  }

  .features {
    padding-left: 0;
  }

  .features__section {
    margin-left: -3rem;
  }
  .gif__image {
    height: 300px;
    width: 400px;
  }
  .features__info {
    width: 400px;
  }
}

/* Normal Horizontal */
@media screen and (min-width: 1347px) {
  nav {
    padding-right: 13rem;
  }
  .challenges-title {
    margin: auto;
  }

  .challenges-container {
    height: 15rem;
  }

  .project-section-picture {
    width: 100%;
  }

  .project-name {
    text-align: left;
    padding-left: 0;
  }
  .project-section {
    width: 100vw;
  }

  .summary-content-container {
    width: 1100px;
    padding-left: 13rem;
    padding-right: 13rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .project-section-features {
    padding: auto;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .features-container {
    padding-left: 15rem;
    padding-right: 5rem;
  }

  .gif-picture {
    height: 100%;
    width: 90%;
    justify-content: start; /* margin-left: 20px; */
    align-items: flex-start;
  }

  .challenges-title {
    margin-bottom: var(--mb-2);
  }

  .features-content-container {
    margin-left: 0;
    margin-right: 0;
    max-width: 70%;
  }

  .section-title-project::after {
    margin-top: 0;
  }

  .feature-section {
    margin-left: 15rem;
  }
  .features {
    text-align: start;
    list-style: circle;
    line-height: 1.5rem;
    width: 350px;
  }

  .features > li {
    margin-bottom: var(--mb-2);
  }

  .gif-img {
    height: 250px;
    width: 400px;
  }

  .gif-picture {
    display: flex;

    align-items: center;
    align-content: center;
  }

  .gif__image {
    height: 280px;
    width: 380px;
  }
  .features__info {
    padding-left: 3rem;
  }

  .features__section {
    margin-left: -1rem;
  }
  .project-name {
    margin-left: 0;
  }

  .sub-headings {
    font-size: 1.7rem;
  }

  .features__heading {
    font-size: 1.7rem;
    margin-left: 0;
  }

  .challenges-title {
    padding-left: 2.2rem;
  }
}

@media screen and (min-width: 1480px) {
  .features__section {
    margin-left: -1rem;
  }
  .gif__image {
    height: 280px;
    width: 430px;
  }

  .challenges-title {
    padding-left: 0;
  }
}
