/* // Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Variables CSS */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* Colours */

:root {
  --first-colour: #4070f4;
  --second-colour: #0e2431;
}

/* Font */
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --extra-large-font-size: 3rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and(min-width:768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1em;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 1010;
}

/* Base */
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: (var(--second-colour));
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Class CSS */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-colour);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-colour);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* Layout */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header-1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(14, 161, 176, 0.15);
}

/* Nav */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    /* top: var(--header-height); */
    border-radius: 0.5rem;
    top: 32px;
    text-align: center;
    margin-top: 1.2rem;
    right: -100%;
    width: 50%;
    height: 100%;
    padding-bottom: 2rem;
    background-color: var(--second-colour);
    transition: 0.5s;
  }
}

.nav__list {
  margin-top: var(--mb-1);
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

/* creates the line under when it is clicked, active */

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;

  background-color: var(--first-colour);
}

.nav__logo {
  color: var(--second-colour);
  font-size: 1.8rem;
}

.nav__toggle {
  color: var(--second-colour);
  font-size: 2rem;
  cursor: pointer;
}

/* Active menu */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2.2rem;
  background-color: var(--first-colour);
}

/* Show Menu */
.show {
  right: 0;
}

/* Home */
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color {
  color: var(--first-colour);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover {
  color: var(--first-color);
}

/* NEED */
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var(--first-colour);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* About */
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* Skills */
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-colour);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-colour);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}
.skills__css {
  width: 85%;
}
.skills__js {
  width: 65%;
}
.skills__nodejs {
  width: 65%;
}

.skills__img {
  border-radius: 0.5rem;
}

/* Work */

.work {
  text-align: center;
}

.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.hero {
  height: 265px;
}
.work__img img:hover {
  transform: scale(1.1);
}

/* Contact */

.contact {
  text-align: center;
}

.contact-me {
  line-height: 30px;
  margin-bottom: var(--mb-1);
  padding: 1px;
  font-size: 1.2rem;
}

.contact-title {
  color: var(--first-colour);
}

.contact-font {
  text-decoration: underline;
}
/* .contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-colour);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
} */

/* Footer */

.footer {
  background-color: var(--second-colour);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 1.5rem;
  margin-bottom: var(--mb-2);
}
/* .footer__social {
  margin-bottom: var(--mb-4);
} */
/* .footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
} */

/* Media Queries */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.25rem;
    left: 0;
    top: 1.6rem;
    background-color: var(--first-colour);
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second-colour);
  }

  .home {
    height: 100vh;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
    font-size: 2rem;
  }

  .home__img {
    width: 457px;
    bottom: 20%;
  }
  .section-title {
    font-size: var(--big-font-size);
  }
  .home__title {
    font-size: var(--extra-large-font-size);
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about__img img {
    width: 300px;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .hero {
    height: 374px;
  }
  .contact__form {
    width: 360px;
  }
  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    right: 10%;
  }
}

/* Iphone X and Pixel 2 */
@media screen and (max-width: 420px) {
  .home__img {
    position: absolute;
    right: 0;
    bottom: 175px;
    width: 205px;
  }

  .home__social-icon {
    font-size: 1.75rem;
  }

  .footer {
    height: 10vh;
    width: 138%;
    margin-left: -50px;
    margin-bottom: 0;
  }

  .contact {
    height: 10px;
  }
}

/* Ipad */
@media screen and (max-width: 768px) and (min-width: 422px) {
  .home__img {
    position: absolute;
    right: 0;
    bottom: 375px;
    width: 400px;
  }

  .home__social-icon {
    font-size: 2.75rem;
  }
  .nav__toggle {
    display: inline-block;
  }

  .nav__menu {
    /* position: fixed; */
    /* top: var(--header-height); */
    border-radius: 0.5rem;
    top: 36px;

    margin-top: 1.2rem;

    width: 50%;
    height: 100%;
    padding-bottom: 2rem;
    background-color: var(--second-colour);
    transition: 0.5s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 80px;
  }
  .nav__link {
    color: #fff;
    text-align: center;
  }

  .skills__section {
    padding-left: 1.8rem;
  }

  .skills__img {
    height: 22rem;
  }
}

/* Work Image Animation */

.item {
  position: relative;
  background: var(--first-colour);
  overflow: hidden;
  border-radius: 0.5rem;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-57%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: 750ms cubic-bezier(0.2, 1, 0.3, 1);
  border: #333 0.6px solid;
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
/* .item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
} */
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;

  text-align: center;
  z-index: 1;
  color: white;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
  color: white;
}

.appname {
  color: white;
}
.appname:hover {
  color: #492bb6;
}
